@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body {
  padding-top: 80px;
  position: relative;
  background-color: #303030;
  background-image: url("http://thumbs.dreamstime.com/x/computer-logo-19206799.jpg");
}

.well {
  height: 750px;
  padding-top: 40px;
  background-color: #800000;
  color: White;
  
}
head {
  background-color: 996633;
}
