@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body {
  padding-top: 80px;
  position: relative;
}

.well {
  height: 750px;
  padding-top: 40px;
  background-color: 996633;
  
}
head {
  background-color: 996633;
}
